/* Responsive design */
@media only screen and (max-width: 768px) {
  body {
    display: block;
  }
  .a-main {
    bottom: 5rem;
    padding-top: 10rem;
  }
  .aimage-headset {
    background: none;
  }
  .aright-section > h1 {
    right: 10rem;
    bottom: 30rem;
    font-size: 2.5rem;
  }

  .lists {
    font-size: 1rem;
    right: 8rem;
    width: 17rem;
    bottom: 30rem;
  }
  .lists > li > img {
    width: 3rem;
  }
  .lists > li > p {
    position: relative;
    left: 4rem;
  }
  .a-ring {
    border: none;
  }
  .a-ring > img {
    width: 20rem;
    height: 20rem;
    left: -3rem;
  }
  /* responsive time showing text */
  .arestext {
    display: block;
    position: relative;
    bottom: 20rem;
    left: 9rem;
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
