.container {
  position: relative;
}
.a-main {
  position: relative;
  bottom: 10rem;
  padding-top: 15rem;
}
/* responsive showing text */
.respon-text {
  display: none;
}
.aleft-section {
  flex: 1;
  float: left;
  position: relative;
}
.aimage-headset {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  position: relative;
  left: 8rem;
  bottom: 10rem;
  background: #e2b47fd0;
}
.a-ring {
  display: flex;
  background: none;
  border: 2px solid rgba(243, 151, 14, 0.534);
  width: 45rem;
  height: 45rem;
  border-radius: 50%;

  position: relative;
  right: 3rem;
  bottom: 2rem;
}
.a-ring > img {
  position: relative;
  left: 1rem;
  width: 45rem;
  bottom: 4.5rem;
}
/* Right section */
.aright-section {
  position: relative;
  left: 50%;
  bottom: 1.5rem;
}
/* main Head */
.aright-section > h1 {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  right: 30rem;
  bottom: 13rem;
  font-size: 5rem;
}
/* list Voice Assistant....etc */
.lists {
  height: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  position: relative;
  right: 28rem;
  bottom: 14rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* image */
.lists > li > img {
  border-radius: 50%;
  margin-right: 20px;
  width: 3.5rem;
  position: relative;
  top: 1rem;
}
/* paragraph */
.lists > li > p {
  color: gray;
  font-size: medium;
  position: relative;
  left: 5rem;
}

.arestext {
  display: none;
}
