/* mobile responsive */
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
  .aleft-section {
    float: none;
  }
  .aimage-headset {
    background: none;
  }
  .a-ring {
    background: none;
    border: none;
  }
  .a-ring > img {
    width: 18rem;
    height: 15rem;
    position: relative;
    left: -1rem;
  }
  .respon-text{
    display: block;
    position: relative;
    bottom: 10rem;
    color: red;
    font-weight: bolder;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* right section texts */
  .aright-section {
    position: relative;
    left: 50%;
    bottom: 1.5rem;
  }
  .aright-section > h1 {
    position: relative;
    right: 10rem;
    bottom: 35rem;
    font-size: 2rem;
  }
}
