@media only screen and (min-width: 360px) and (max-width: 768px) {
  
  .ab-tag {
    display: flex;
    flex-direction: column;
  }
  .social {
    position: relative;
    right: 13rem;
  }
  .fa {
    width: 50px !important;
    font-size: 20px !important;
  }
}

@media screen and (max-width: 375px) {
  .about-main{
    top: 50rem !important;
    height: 70vh !important;
  }
  
}