@media only screen and (max-width: 600px) {
  html, body{
    overflow-x: hidden;
    max-width: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    
  }
  .nav-main {
    display: block;
    position: relative;
  }
  .nav-main > h1 {
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 20px;
  }
  .a-tag {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    font-size: 14px;
    margin-left: 1rem;
  }
  .search-field {
    margin: 2rem;
    margin-left: 1rem;
  }
  .search-field > input {
    padding: 0.7rem;
    background-position: 17.9rem; /* Adjust as needed */
    background-size: 20px; /* Set the size of icon */
    padding-right: 150px; /* Add space for the icon */
  }
  .heart {
    position: relative;
    left: 20rem;
    bottom: 12rem;
  }
  /* main image headset */
  .right-section > main {
    display: flex;
    width: 15rem;
    height: 15rem;
    position: relative;
    left: -45rem;
    bottom: 55rem;
  }
  .mainhad-shape {
    background: none;
  }
  .shape{
    display: none;
  }
  .right-section > main > img {
    position: relative;
    left: -1rem;
    top: 3rem;
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-40px);
    }
  }
  /* cart an favorite */
  .heart > a > li > img {
    width: 1.8rem;
  }
  .left-section {
    position: relative;
    bottom: 3rem;
    right: 2rem;
  }
  .left-section > h1 {
    display: block;
    font-size: 35px;
    margin-bottom: 7rem;
    position: relative;
  }
  .left-section > span {
    font-size: 30px;
    position: relative;
    left: 10rem;
    bottom: 7rem;
  }
  .left-section > p {
    position: relative;
    bottom: 17rem;
    font-size: 14px;
  }
  .Explore-button {
    width: 10rem;
    height: 0.5rem;
    position: relative;
    bottom: 1rem;
  }
  .Explore-button > input {
    font-size: 20px;
    position: relative;
    right: 4rem;
    bottom: 0.4rem;
    padding-right: 1rem;
    background: url("../assets/icons8-compass-24.png") no-repeat;
    background-position: 13rem; /* Adjust as needed */
    background-size: 30px 30px; /* Set the size of icon */
  }
  .image-head {
    width: 5rem;
    position: relative;
    left: 15rem;
    top: -8rem;
  }
  .headset-img {
    width: 5rem;
  }
  .off-text {
   font-size: 16px;
    position: relative;
    left: 15rem;
    bottom: 10rem;
   
  }
}
