@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
  }
  .nav-main {
    display: block;
    position: relative;
  }
  .nav-main > h1 {
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 20px;
  }
  .a-tag {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    font-size: 14px;
    margin-left: 1rem;
  }
  .search-field {
    margin: 2rem;
    margin-left: 1rem;
  }
  .search-field > input {
    padding: .7rem;
    background-position: 17.9rem; /* Adjust as needed */
  background-size: 20px; /* Set the size of icon */
  padding-right: 150px; /* Add space for the icon */
  }
}
