body {
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}
html {
  overflow-x: hidden;
  user-select: none;
}
/* @media only screen and (max-width: 600px) {
  html, body{
    overflow-x: hidden;
    max-width: 100%;
  }
} */