body {
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}
html {
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
  body {
    display: block;
  }
}